.clock-container {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#widgets {
    margin-top:24px;
}

.addWidget div {
    margin-top: 4px;
}

.addWidget {
    padding: 6px 24px;
}