.clock-container {
    text-align: center;
}

.clock-container h2, .clock-container h5 {
    margin: 0;
}

#widgets {
    margin-top:24px;
}

.addWidget div {
    margin-top: 4px;
}

.addWidget {
    padding: 6px 24px;
}

.map {
    width: 358px;
    height: 200px;
    min-height: 320px;
    }
.map::before,
.map::after {
    content: '';
    display: table;
    clear: both;
    }
.map img {
    max-width: none;
    }